body {
  background-color: $primary-bg-color;
  color: $primary-text-color;

  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
