.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
  }

  @media screen and (max-width: 1199px) {
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: $primary-icon-color;

  height: 92px;

  border: 1px solid $primary-icon-color;
  border-radius: 4px;

  transition: border-color $transition, fill $transition;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
}
