.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: $hero-bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $primary-bg-color;

  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 700px;

    font-size: 44px;
    line-height: 1.36;
  }
}
