.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-bg-color;

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      align-items: baseline;
    }
  }
}

.auth-block {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-left: 76px;
  }
}

.footer-nav__item {
  line-height: 1.71;

  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-nav__address {
  color: $primary-bg-color;

  font-style: normal;
}

.footer-nav__auth {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
