.header {
  border-bottom: 1px solid $primary-border-color;

  &__container {
    position: relative;
    display: flex;

    align-items: center;
  }
}

.nav {
  display: flex;

  align-items: center;
  width: 100%;
}

.nav__icon-cross {
  display: none;
}

.nav__btn--is-open .nav__icon-cross {
  display: block;
}

.nav__btn--is-open .nav__icon-menu {
  display: none;
}

.nav__btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  z-index: 3;
  transition: fill $transition;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-block {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 796px;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &--is-open {
    display: block;
  }
}

.menu-block__socials-list {
  display: inline-block;
  font-size: 0px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-block__social-item {
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
}

.menu-block__social-link {
  color: $accent-color;
}

.site-nav {
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.18;

    margin-bottom: 302px;

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    margin-right: 84px;

    line-height: 1.14;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav__link {
  display: block;

  color: $title-text-color;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    &--current {
      color: $accent-color;
    }

    &--current::after {
      position: absolute;
      transform: translateY(29px) scaleX(100%);

      display: block;
      content: "";

      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }

    &--current:hover::after {
      animation-name: menuUnderline;
      animation-duration: 1000ms;
      animation-direction: alternate;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-iteration-count: infinite;
    }
  }
}

.auth-nav {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
  }
}

.auth-nav__icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &-mail {
      width: 14px;
      height: 10px;
    }

    &-tel {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: 1200px) {
    &-mail {
      width: 16px;
      height: 12px;
    }

    &-tel {
      width: 10px;
      height: 16px;
    }
  }
}

.auth-nav__link {
  display: flex;

  align-items: center;

  color: $primary-text-color;
  transition: color $transition;

  @media screen and (max-width: 767px) {
    &--large {
      color: $accent-color;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__tel {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.auth-nav__mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
