.header {
  &__container {
    position: relative;
    display: flex;

    align-items: center;
  }
}

.nav {
  display: flex;

  align-items: center;
  width: 100%;
  height: 60px;
}

.nav__icon-cross {
  display: none;
}

.nav__btn--is-open .nav__icon-cross {
  display: block;
}

.nav__btn--is-open .nav__icon-menu {
  display: none;
}

.nav__btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 3;
  transition: fill $transition;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 302px;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.site-nav__link {
  display: block;

  color: $title-text-color;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth.nav__item:hover,
.auth.nav__item:focus {
  fill: $accent-color;
}

.auth.nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  display: flex;

  align-items: center;

  color: $primary-text-color;
  transition: color $transition;

  &--large {
    color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__tel {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.auth-nav__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.auth-nav__icon {
  display: none;

  margin-right: 10px;
  fill: currentColor;
}

.menu-block {
  height: 796px;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
  }

  &--is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
  }
}

.menu-block__socials-list {
  display: inline-block;
  font-size: 0px;
}

.menu-block__social-item {
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
}

.menu-block__social-link {
  color: $accent-color;
}
