.specialities__container {
  padding-top: 60px;

  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.specialities__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.specialities__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.specialities__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.thumb {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: $secondary-bg-color;

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-bottom: 10px;

    color: $title-text-color;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    line-height: 1.71;
  }
}
