// fonts
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

// colors
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$primary-button-color: #f5f4fa;
$logo-web-primary: #2196f3;
$logo-studio-primary: #000000;
$logo-web-secondary: #2196f3;
$logo-studio-secondary: #ffffff;
$primary-border-color: #ececec;
$primary-icon-color: #afb1b8;

// transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
